@model TeamProject.Models.ArchiveViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Archive Page";
}

@* CSS Style Archive Tables *@
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

@* Table for Archived Student Information *@
<h2>Archived Student Data</h2><br /><br />

@{
    if (Model.ArciveList == null || !Model.ArciveList.Any())
    {
        <br />
        <p>No Students in the System</p>
        <br />
    }
    else
    {
        <table>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>School Year</th>
                <th>Graduation Status</th>
                <th>Action</th>
            </tr>
            @{
                foreach (var item in Model.ArciveList)
                {
                    <tr>
                        <td>@item.FName</td>
                        <td>@item.LName</td>
                        <td>@item.SYear</td>
                        <td>@item.Status</td>
                        <td>
                            @{
                                if (item.Status == TeamProject.Models.GraduateStatusEnum.Graduate)
                                {
                                    <button type="button" class="btn btn-success btn-xs" disabled>Recover</button>
                                }
                                else
                                {
                                    @Html.ActionLink("Recover", "Recover", new { id = @item.Id }, new { @class = "btn btn-success btn-xs" })
                                }
                            }
                            @Html.ActionLink("Remove", "Remove", new { id = @item.Id }, new { @class = "btn btn-danger btn-xs" })&ensp;
                        </td>
                    </tr>
                }
            }
        </table>
    }
}