@model TeamProject.Models.StudentDisplayViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Student Info";
}
<div class="container">
    <div class="row">
        @{
            if (Model == null)
            {
                <p>No Student</p>
            }
            else
            {
                <div class="row">
                    <h2>@Model.Name Information</h2><br /><br />
                    <center>
                        <div class="row">
                            <img src="~/Content/Images/@Model.PictureUri" width="300" height="300" /><br /><br /><br /><br />
                        </div>
                    </center>
                    <div class="col-sm-12">
                        <div class="col-sm-4" text-left></div>
                        <div class="col-sm-8">
                            <div class="row" style="font-family:Calibri;font-size:x-large">
                                @Html.DisplayNameFor(m => m.Name)&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                                @Html.DisplayFor(m => m.Name)
                            </div>
                            <div class="row" style="font-family:Calibri;font-size:x-large">
                                @Html.DisplayNameFor(m => m.LastName)&ensp;&ensp;&ensp;&ensp;
                                @Html.DisplayFor(m => m.LastName)
                            </div>
                            <div class="row" style="font-family:Calibri;font-size:x-large">
                                @Html.DisplayNameFor(m => m.Email)&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                                @Html.DisplayFor(m => m.Email)
                            </div>
                            <div class="row" style="font-family:Calibri;font-size:x-large">
                                @Html.DisplayNameFor(m => m.Status)&ensp;
                                @Html.DisplayFor(x => x.Status)
                            </div>
                        </div>
                    </div>
                </div><br /><br />
                <center>
                    <div class="row">
                            @Html.ActionLink("Cancel", "Students", new { id = Model.Id }, new { @class = "btn btn-success btn-lg" })
                            @Html.ActionLink("Update", "Update", new { id = Model.Id }, new { @class = "btn btn-primary btn-lg" })
                            @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger btn-lg" })
                    </div>
                </center><br /><br /><br />
            }
        }
    </div>
</div>

