@model TeamProject.Models.StudentDisplayViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Update";
}

<div class="container">
    <div class="row">
        @{
            if (Model == null)
            {
                <p>No Student</p>
            }
            else
            {
                <div class="row">
                    <h2>Update Student</h2><br /><br />
                    <center>
                        <div class="row">
                            <img src="~/Content/Images/@Model.PictureUri" width="300" height="300" /><br />
                            <span style="font-family:Calibri;font-size:xx-large">
                                @Model.Name<br /><br />
                            </span>
                        </div>
                    </center>
                    <center>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.Id)

                        <div class="row">
                            <div class="col-sm-6 text-right" style="font-family:Calibri;font-size:x-large">
                                @Html.DisplayNameFor(m => m.Name)
                            </div>
                            <div class="col-sm-2" style="font-family:Calibri;font-size:x-large">
                                @Html.EditorFor(m => m.Name)
                                @Html.ValidationMessageFor(m => m.Name)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 text-right" style="font-family:Calibri;font-size:x-large">
                                @Html.DisplayNameFor(m => m.LastName)
                            </div>
                            <div class="col-sm-2" style="font-family:Calibri;font-size:x-large">
                                @Html.EditorFor(m => m.LastName)
                                @Html.ValidationMessageFor(m => m.LastName)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 text-right" style="font-family:Calibri;font-size:x-large">
                                @Html.DisplayNameFor(m => m.Email)
                            </div>
                            <div class="col-sm-2" style="font-family:Calibri;font-size:x-large">
                                @Html.EditorFor(m => m.Email)
                                @Html.ValidationMessageFor(m => m.Email)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 text-right" style="font-family:Calibri;font-size:x-large">
                                @Html.DisplayNameFor(m => m.PictureId)
                            </div>
                            <div class="col-sm-2" style="font-family:Calibri;font-size:x-large">
                                @Html.DropDownListFor(m => m.PictureId, TeamProject.Backend.PictureBackend.Instance.GetPictureListItem(Model.PictureId))
                                @Html.ValidationMessageFor(m => m.PictureId)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 text-right" style="font-family:Calibri;font-size:x-large">
                                @Html.DisplayNameFor(m => m.Status)
                            </div>
                            <div class="col-sm-2" style="font-family:Calibri;font-size:x-large">
                                @Html.EnumDropDownListFor(x => x.Status, "Select Status")
                                @Html.ValidationMessageFor(m => m.Status)
                            </div>
                        </div><br /><br />
                        <div class="row">
                            @Html.ActionLink("Cancel", "Students", new { id = Model.Id }, new { @class = "btn btn-success btn-lg" })
                            <input type="submit" value="Update" class="btn btn-primary btn-lg">
                        </div>
                     }
                     </center><br /><br /> 
                </div>
            }
        }
    </div>
</div>

