<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Dashboard", "Dashboard", "Student")</li>
                    <li>@Html.ActionLink("Profile", "Profile", "Student")</li>
                    <li>@Html.ActionLink("WorldTour", "Game", "Student")</li>
                    <li>@Html.ActionLink("Record", "Record", "Student")</li>
                    <li>@Html.ActionLink("Calendar", "Calendar", "Student")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right" style="margin-right:30px;">
                    <li>@Html.ActionLink("Log Out", "Index", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <hr />
    <br />
    <div class="container body-content">
            <footer>
                <div class="footer navbar navbar-fixed-bottom">
                    <div style="background-color:transparent">
                        <center>
                            <div class="btn-group" style="position:center">
                                <div style="font-family:Calibri">
                                    @Html.ActionLink("Selection", "Select", "Student", new { controller = "Student" }, new { @class = "btn btn-warning btn-lg" })
                                    @Html.ActionLink("PrizeTomb", "PrizeTomb", "Student", new { controller = "Student" }, new { @class = "btn btn-warning btn-lg" })
                                    @Html.ActionLink("PrizeDex", "PrizeDex", "Student", new { controller = "Stuent" }, new { @class = "btn btn-warning btn-lg" })
                                    @Html.ActionLink("CoinBank", "CoinBank", "Student", new { controller = "Student" }, new { @class = "btn btn-warning btn-lg" })
                                </div>
                            </div>
                        </center>
                    </div>
                </div>
            </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<style>
    .navbar-inverse {
        background-color: #083e52;
        border-color: #083e52;
    }

        .navbar-inverse .navbar-nav > li > a {
            color: white;
        }

    .btn-link {
        color: #083e52;
    }

    body {
        color: #083e52;
    }
</style>
